<div class="game">
    <div data-cy="player-one-score" class="game__player"
        [ngClass]="{'game__player__winner': (playerOneScore$ | async)! > (playerTwoScore$ | async)!}">{{playerOneScore$
        | async}}</div>
    <div class="game__select">

        <ng-container *ngIf="!(isGameInProgress$ | async)">
            <div data-cy="game-type-button-rockets" (click)="selectGame(GameType.ROCKETS)"
                class="game__select__starship"
                [ngClass]="{'game__select__selected' : (gameType$| async) === GameType.ROCKETS}">
                <mat-icon>flight</mat-icon>
            </div>
            <div data-cy="game-type-button-people" (click)="selectGame(GameType.PEOPLE)" class="game__select__people"
                [ngClass]="{'game__select__selected' : (gameType$| async) === GameType.PEOPLE}">
                <mat-icon>person</mat-icon>
            </div>
        </ng-container>

    </div>
    <div class="game__player" data-cy="player-two-score"
        [ngClass]="{'game__player__winner': (playerTwoScore$ | async)! > (playerOneScore$ | async)!}">{{playerTwoScore$
        | async}} </div>

</div>