<div class="game">
    <div data-cy="game-score-player-1" class="game__player"
        [ngClass]="{'game__player__winner': (playerOneScore$ | async)! > (playerTwoScore$ | async)!}">{{playerOneScore$
        | async}}</div>
    <div class="game__select">

        <ng-container *ngIf="!(isGameInProgress$ | async)">
            <div data-cy="game-type-starships" (click)="selectGame(GameType.ROCKETS)" class="game__select__starship"
                [ngClass]="{'game__select__selected' : (gameType$| async) === GameType.ROCKETS}">
                <mat-icon>flight</mat-icon>
            </div>
            <div data-cy="game-type-people" (click)="selectGame(GameType.PEOPLE)" class="game__select__people"
                [ngClass]="{'game__select__selected' : (gameType$| async) === GameType.PEOPLE}">
                <mat-icon>person</mat-icon>
            </div>
        </ng-container>

    </div>
    <div class="game__player" data-cy="game-score-player-2"
        [ngClass]="{'game__player__winner': (playerTwoScore$ | async)! > (playerOneScore$ | async)!}">{{playerTwoScore$
        | async}} </div>

</div>