<ngx-particles [options]="particlesOptions"></ngx-particles>

<div *ngIf="isLoading$ | async" class="overlay">
  <mat-spinner></mat-spinner>
</div>

<div class="main">
  <div class="main__type" *ngIf="true">
    <app-game-stats></app-game-stats>
  </div>
  <div class="main__cards">
    <app-game-card [isWinner]="!!(isPlayerOneWinner$ | async)" [personResult]="playerOnePerson"
      [starshipResult]="playerOneStarship"></app-game-card>

    <app-game-card [isWinner]="!!(isPlayerTwoWinner$ | async)" [personResult]="playerTwoPerson"
      [starshipResult]="playerTwoStarship"></app-game-card>
  </div>



  <button *ngIf="(gameType$ | async) as gameType" style="position: fixed; z-index: 100;"
    (click)="playGame(gameType)">CHECK</button>

</div>