<ngx-particles [options]="particlesOptions"></ngx-particles>

<div *ngIf="isLoading$ | async" class="overlay">
  <mat-spinner></mat-spinner>
</div>

<div class="main">
  <div class="main__type" *ngIf="true">
    <app-game-type></app-game-type>
  </div>
  <div class="main__cards">
    <app-game-card [isWinner]="isPlayerOneWinner" [isCardVisible]="isCardsVisible"></app-game-card>

    <app-game-card [isWinner]="isPlayerTwoWinner" [isCardVisible]="isCardsVisible"></app-game-card>
  </div>

  <button style="position: fixed; z-index: 100;" (click)="playGame()">CHECK</button>
</div>