<div class="settings--modal position-relative toggle-wrap">
    <div class="settings--modal--theme">
        <div class="settings--modal--theme--light--dark">
            <i class="bi bi-brightness-high-fill settings--modal--theme--light--dark--sun"></i>
        </div>
        <div class="settings--modal--theme--dark--dark">
            <i class="bi bi-moon-fill settings--modal--theme--dark--dark--moon"></i>
        </div>
    </div>

    <div class="settings--modal--theme--bottom">
        <div class="settings--modal--theme--polish">
            <span class="flag-icon flag-icon-pl"></span>
        </div>
        <div class="settings--modal--theme--english">
            <span class="flag-icon flag-icon-gb"></span>
        </div>
    </div>
</div>