<mat-card class="card" [ngClass]="{'card__flipped': isCardVisible}">
    <div class="card__front">
        <mat-icon *ngIf="gameType !== GameType.PEOPLE">person</mat-icon>
        <mat-icon *ngIf="gameType === GameType.ROCKETS">flight</mat-icon>
    </div>

    <div class="card__back" [ngClass]="{'card__back__winner': isCardVisible}">

        <div class="card__back__icon">
            <mat-icon *ngIf="gameType !== GameType.PEOPLE">person</mat-icon>
            <!-- <mat-icon *ngIf="gameType === GameType.ROCKETS">flight</mat-icon> -->
        </div>

        <span>Obi Wan Kenobee</span>

        <span>Age: 25</span>

    </div>

</mat-card>