<mat-card data-cy="game-card" class="card" [ngClass]="{'card__flipped': isGameInProgress$ | async}">
    <div class="card__front">
        <mat-icon *ngIf="(gameType$ | async) === GameType.PEOPLE">person</mat-icon>
        <mat-icon *ngIf="(gameType$ | async) === GameType.ROCKETS">flight</mat-icon>
    </div>

    <div [attr.data-cy]="'game-card-player-' + player" class="card__back" [ngClass]="{'card__back__winner': isWinner}">

        <div class="card__back__icon">
            <mat-icon data-cy="game-card-people" *ngIf="(gameType$ | async) === GameType.PEOPLE">person</mat-icon>
            <mat-icon data-cy="game-card-starships" *ngIf="(gameType$ | async) === GameType.ROCKETS">flight</mat-icon>
        </div>

        <ng-container *ngIf="personResult">

            <span class="card__back__label">{{personResult.properties.name}}</span>
            <span [attr.data-cy]="'game-result-player-' + player">{{personResult.properties.mass}}</span>

        </ng-container>

        <ng-container *ngIf="starshipResult">

            <span class="card__back__label">{{starshipResult.properties.model}}</span>
            <span [attr.data-cy]="'game-result-player-' + player">{{starshipResult.properties.crew}}</span>

        </ng-container>

    </div>

</mat-card>